[Unit]
Description=chronyd_exporter
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/chronyd_exporter/chronyd_exporter
Restart=always
RestartSec=10
StartLimitInterval=100

[Install]
WantedBy=multi-user.target